.flex-container {
  background: #1D3557; 
  display: flex;
  flex: auto;
  align-items: stretch;
  align-items: baseline;
  margin-bottom: 0;
  margin-top: 0;
}

a{
  text-decoration: none;
}


.flex-container > div {
  margin-top: 10px;
}
.title{
  flex-grow: 1;
  font-size:2em;
  text-align: center;
  color:#a8dadc;
  
  
}
.title h1 {
  color:#f1faee;
  font-size:.8em;
  font-family: 'Proza Libre', sans-serif;
  font-weight: 700;
  vertical-align: bottom;
}

.search-form{
  flex-grow:1;
  flex-basis: auto;
  font-size:1.1em;
  color: f1faee;
}

.search-field{
  width:175px;
  color: #f1faee;

}

button{
  color: #f1faee;
}

button:focus {
  outline:none;
  border:#576e91;
}

/* 
.mat-input-element {
    caret-color: #b87bd3;
} */


.search-field[_ngcontent-bpj-c106] {
    color: rgb(56, 56, 56);
}

.search-form[_ngcontent-rya-c106] {
    flex-grow: 1;
    flex-basis: auto;
    color: rgb(56, 56, 56);
    font-size: 10px;
}

::placeholder{
    color: rgb(56, 56, 56);
opacity: 1;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
    color: rgb(56, 56, 56)!important;

 }
 ::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: #b6b6b6 !important;;
}
 ::ng-deep.mat-form-field-underline {
  /* change color of underline */
  background-color: #626262 !important; 
}  