<div
  fxFlex
  fxLayoutAlign="center"
  class="container"
  *ngIf="showsByDate && !shows"
  style="width: 100vw;"
>
  <div fxLayout="row wrap" fxLayoutGap="1em grid">
    <div
      fxFlex="20%"
      fxFlex.xs="100%"
      fxFlex.sm="50%"
      fxFlex.md="33%"
      *ngFor="let show of showsByDate"
      id="card-container"
    >
      <mat-card class="mat-elevation-z4" (click)="getDetail(show.id)">
        <mat-card-header>
          <mat-card-title style="width: 100%;" id="show-title">{{
            show.name
          }}</mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          style="width: 80%;"
          src="{{ show.image }}"
          alt="{{ show.image }}"
        />
      </mat-card>
    </div>
  </div>
</div>
