mat-expansion-panel-header {
  background: #f1faee;
  color: black;
  margin: 1px;
  border: none !important;
}

mat-expansion-panel-header:hover {
  background: #457b9d !important;
}

mat-expansion-panel {
  background: #89b1b2;
}

mat-grid-list {
  width: 100%;
}